<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta name=”renderer” content=”webkit|ie-comp|ie-stand” />
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1,IE=edge">
    <meta name="keywords" content="项目管理系统" />
    <meta name="description" content="项目管理系统" />
    <link rel="icon" href="~/favicon.ico">
    <title>项目管理系统 - 登录页面</title>
</head>

<body>
    @Html.AppendCssFile("/Views/ProjectLogin/Top/Index.css")
    <input id="errornum" type="hidden" value="@ViewBag.errornum" />
    <div class="lr-login-body">
        <div class="lr-login-logo">
            <img src="~/Content/images/Login/short_logo.png" alt="">
            <div class="lr-login-title">
                项目管理系统
            </div>
            <div class="lr-login-version" style="left: 284px;">V2.0.0</div>
        </div>
        <div class="lr-login-middle">
            <!--密码登录-->
            <div class="lr-login-bypsw noreg">
                <div class="lr-login-middle-title">
                    欢迎登录
                </div>

                <div class="error_info">*&nbsp;<span>密码不正确</span></div>
                <img class="lr-login-toCode" login-access="psw" src="~/Content/images/Login/blue_code.png" alt="">
                <div class="lr-login-input">
                    <div class="input-title">手机号/帐号</div>
                    <input id="lr_username" type="text">
                </div>
                <div class="lr-login-input">
                    <div class="input-title">密码</div>
                    <input id="lr_password" type="password">
                    <span id="psw_change"></span>
                </div>
                <div class="lr-login-input lr-login-reg">
                    <div class="input-title">验证码</div>
                    <input id="lr_verifycode_input" type="text">
                    <img class="code" id="lr_verifycode_img" src="~/Login/VerifyCode" alt="点击切换验证码" title="点击切换验证码" />
                </div>
                <div class="lr-login-btn" id="lr_login_btn"><span>登录</span></div>
            </div>

            <!--二维码登录-->
            <div class="lr-login-bycode">
                <div class="lr-login-middle-title">
                    扫码登录
                </div>

                <img class="lr-login-toCode" src="~/Content/images/Login/blue_pc.png" alt="">
                <div class="lr-login-info">
                    <img src="~/Content/images/Login/qrcode.png" alt="">
                    <p>微信扫一扫 获体验资格</p>
                </div>
            </div>

            <div class="lr-login-footer"> <p>Copyright © 2019 枝江金润源 </p><p>武汉东雅图科技有限公司技术支持：http://www.dongyatu.com</p></div>

        </div>
    </div>

    <script src="~/Content/jquery/jquery-1.10.2.min.js"></script>
    <script src="~/Content/jquery/jquery.md5.min.js"></script>
    <script>
        function request(d) { for (var c = location.search.slice(1).split("&"), a = 0; a < c.length; a++) { var b = c[a].split("="); if (b[0] == d) if ("undefined" == unescape(b[1])) break; else return unescape(b[1]) } return "" };
        $.rootUrl = '@Url.Content("~")'.substr(0, '@Url.Content("~")'.length - 1);
        $.lrToken = $('@Html.AntiForgeryToken()').val();
    </script>
    @Html.AppendJsFile("/Views/ProjectLogin/Top/Index.js")
</body>
</html>